<!-- app/views/shared/_vista_base.html.erb -->
<%= stylesheet_link_tag 'configuracion_base' %>
<%= stylesheet_link_tag 'home/portada_nueva' %>
<%= stylesheet_link_tag 'product' %>
<%= stylesheet_link_tag 'informacion_nutricional' %>
<%= stylesheet_link_tag 'bandeja' %>
<%= stylesheet_link_tag 'columns' %>
<%= stylesheet_link_tag 'text_with_line' %>
<%= stylesheet_link_tag 'paragraph' %>
<%= stylesheet_link_tag 'catalogo/serpenteante_inf' %>




<div class="contenedor-2">
  <!-- Sección superior de color -->
  <div class="seccion-superior-2"></div>

  <!-- Línea serpenteante -->
  <svg class="separador-serpenteante-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path class="color-serpenteante-2" d="M0,192L60,186.7C120,181,240,171,360,181.3C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>

  <!-- Contenedor principal -->
  <div class="contenedor-principal-2">
    <!-- Imagen centrada -->
    <% if portada_image.present? %>
      <img class="imagen-centrada-2" src="<%= asset_path(portada_image) %>" alt="Imagen centrada">
  
    <% end %>
    

    <!-- Contenedor para texto -->
    <div class="contenedor-texto-2">
      <h2>
        <% if product_title.present? %>
          <span class="titulo-texto-2 colored-text font-georgia-normal" style="color: white"><%= product_title %></span>
        <% end %>
      </h2>
      <% if product_description.present? %>
        <p class="descripcion-texto-2" style="color: white"><%= product_description %></p>
      <% else %>
        <p>Pronto actualizaremos esta sección</p>
      <% end %>
    </div>
  </div>
</div>



<style>
/* ========================= */
/* Estilos Generales del Contenedor */
/* ========================= */
.contenedor-2 {
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  background-color: var(--sex-color); /* Color de fondo */
}

/* Sección superior de color */
.seccion-superior-2 {
  background-color: var(--sex-color);
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Línea serpenteante */
.separador-serpenteante-2 {
  position: absolute;
  top: -3rem; /* Posición inicial */
  width: 100%;
  height: auto;
  z-index: 1;

}

.color-serpenteante-2 {
  fill: var(--secondary-color);
}

/* Contenedor principal */
.contenedor-principal-2 {
  background-color: var(--sex-color);
  padding: 2rem;
  position: relative;
  z-index: 1;
  margin-top: 14rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Imagen centrada */
.imagen-centrada-2 {
  width: 25rem;
  height: auto;
  margin-top: -17rem;
  margin-left: 40rem;
  object-fit: contain;
  position: relative;
  z-index: 10;
}

/* Contenedor de texto */
.contenedor-texto-2 {
  position: absolute;
  top: -1rem; /* Ajustable */
  left: 10rem; /* Ajustable */
  width: 60rem;
  padding: 0rem;
  z-index: 3; /* Por encima de la imagen */
  text-align: left;
}

/* Título del texto */
.titulo-texto-2 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* Descripción del texto */
.descripcion-texto-2 {
  font-size: 1rem;
  color: var(--secondary-color);
  width: 30rem;
}

/* Contenedor de botones */
.botones-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

/* Botones (enlaces) */
.boton-estilo {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.boton-estilo:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.boton-estilo:active {
  background-color: var(--tertiary-color);
  transform: scale(0.95);
}

/* ========================= */
/* Media Queries para Responsividad */
/* ========================= */

</style>












<div class="contenedor-inf">
  <!-- Sección superior de color -->
  <div class="seccion-superior-inf"></div>

  <!-- Línea serpenteante -->
  <svg class="separador-serpenteante-inf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path class="color-serpenteante-inf" style="fill: var(--sex-color);" d="M0,192L60,186.7C120,181,240,171,360,181.3C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
</div>







<div class="text-container">
  <div class="text-with-line">
    <span class="colored-text font-georgia-normal">Palabras de nuestro catador</span>
  </div>
  <% if description_paragraphs.present? && description_paragraphs.any? %>
      <% description_paragraphs.each do |paragraph| %>
        <p class="parrafo-texto-linea"><%= paragraph %></p>
      <% end %>
    <% else %>
      <p>Pronto actualizaremos esta sección</p>
    <% end %>
</div>








<div class="contenedor-4">
  <!-- Sección superior de color -->
  <div class="seccion-superior-4"></div>

  <!-- Línea serpenteante -->
  <svg class="separador-serpenteante-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path class="color-serpenteante-4" style="fill: var(--tertiary-color);" d="M0,192L60,186.7C120,181,240,171,360,181.3C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>

  </div>

</div>



<style>
/* Contenedor principal que envuelve todo */
.contenedor-4 {
  position: relative;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  background-color: var(--primary-color); /* Color de fondo */
}

/* Sección superior de color */
.seccion-superior-4 {
  background-color: var(--sex-color);
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Línea serpenteante */
.separador-serpenteante-4 {
  position: absolute;
  top: -7rem;
  width: 100%;
  height: auto;
  z-index: 2;
}

.color-serpenteante-4 {
  fill: var(--tertiary-color);
}

/* Contenedor principal */
.contenedor-principal-4 {
  background-color: var(--primary-color);
  padding: 2rem;
  position: relative;
  z-index: 1;
  margin-top: 14rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Imagen centrada */
.imagen-centrada-4 {
  width: 32rem;
  height: auto;
  margin-top: -30rem;
  margin-left: 40rem;
  object-fit: contain;
  position: relative;
  z-index: 0;
}

/* Contenedor de texto */
.contenedor-texto-4 {
  position: absolute;
  top: -5rem; /* Posición inicial (ajustable) */
  left: 10rem; /* Posición inicial (ajustable) */
  width: 30rem; /* Dimensiones del contenedor */
  padding: 0rem;
  z-index: 3; /* Por encima de la imagen */
  text-align: left; /* Centrar texto */
}

/* Título del texto */
.titulo-texto-4 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* Descripción del texto */
.descripcion-texto-4 {
  font-size: 1rem;
  color: var(--secondary-color);
}

/* Contenedor de botones */
.botones-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: left;
  gap: 1rem; /* Espacio entre enlaces */
}

/* Botones (enlaces) */
.boton-estilo {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none; /* Quitar subrayado */
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block; /* Asegurar que se comporte como un botón */
}

.boton-estilo:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05); /* Pequeño zoom al pasar el mouse */
}

.boton-estilo:active {
  background-color: var(--tertiary-color);
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */
}
</style>




<div class="contenedor-imagenes">
  <div class="contenedor-texto">
    <h2>
      <span class="titulo-texto colored-text font-georgia-normal">Ideales para</span>
    </h2>
  </div>
  <% if product_uses_icons.present? && product_uses_icons.any? %>
    <div class="imagenes">
      <% product_uses_icons.each do |image| %>
        <img src="<%= asset_path(image) %>" alt="Icono" class="imagen-item" />
      <% end %>
    </div>
  <% end %>
</div>




<style>
/* Contenedor principal */
.contenedor-imagenes {
  position: relative;
  background-color: var(--primary-color);
  color: #fff; /* Texto por defecto en blanco */
  text-align: left; /* Centra contenido si hay una sola imagen */
  padding: 2rem; /* Espaciado interno */
}

/* Contenedor del texto */
.contenedor-texto {
  margin-bottom: 2rem; /* Separación entre texto e imágenes */
  margin-left: 8rem; /* Ajuste de margen izquierdo */
}

/* Título del texto */
.titulo-texto {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

/* Contenedor de las imágenes */
.imagenes {
  display: flex; /* Flexbox para alinear elementos */
  justify-content: center; /* Centrar horizontalmente */
  gap: 2rem; /* Espaciado entre imágenes */
  flex-wrap: wrap; /* Permitir que las imágenes se ajusten en varias filas si es necesario */
}

/* Estilo de cada imagen */
.imagen-item {
  width: 5rem; /* Ajusta el ancho de las imágenes */
  height: 5rem; /* Ajusta el alto de las imágenes */
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  
}

</style>







<div class="contenedor-inf">
  <!-- Sección superior de color -->
  <div class="seccion-superior-inf"></div>

  <!-- Línea serpenteante -->
  <svg class="separador-serpenteante-inf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path class="color-serpenteante-inf" style="fill: var(--primary-color);" d="M0,192L60,186.7C120,181,240,171,360,181.3C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
</div>




































<!-- CONTENT & NUTRICIÓN -->
<div class="content-container">

  <div class="nutrition-container">
    <h2>Información Nutricional</h2>

    <% if nutrition_serving_size.present? ||
          nutrition_calories.present? ||
          nutrition_proteins.present? ||
          nutrition_fats.present? ||
          nutrition_carbs.present? ||
          nutrition_sugars.present? ||
          nutrition_sodium.present? %>
      <table>
        <tr>
          <th>Tamaño de porción:</th>
          <td><%= nutrition_serving_size.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Energía (kcal)</td>
          <td><%= nutrition_calories.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Proteínas (g)</td>
          <td><%= nutrition_proteins.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Grasas Totales (g)</td>
          <td><%= nutrition_fats.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Hidratos de Carbono (g)</td>
          <td><%= nutrition_carbs.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Azúcares Totales (g)</td>
          <td><%= nutrition_sugars.presence || "Pronto..." %></td>
        </tr>
        <tr>
          <td>Sodio (mg)</td>
          <td><%= nutrition_sodium.presence || "Pronto..." %></td>
        </tr>
      </table>
    <% else %>
      <p>Pronto actualizaremos esta sección</p>
    <% end %>
  </div>
</div>

<!-- BOTÓN COTIZAR / MODAL -->
<div class="columnas_4_contenedor">
  <div class="column-empty" style="width: 40%;">
    <button type="button" class="button-style" data-bs-toggle="modal" data-bs-target="#talkModal" style="width: 100%; text-align: center; background-color: var(--primary-color)">
      Cotizar
    </button>

    <div class="modal fade" id="talkModal" tabindex="-1" aria-labelledby="talkModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="talkModalLabel">Añadir Nuevo Comentario</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'comments/new', comment: @comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
