<%= stylesheet_link_tag 'portada' %>
<%= stylesheet_link_tag 'text_with_line' %>
<%= stylesheet_link_tag 'paragraph' %>
<%= stylesheet_link_tag 'columns' %>
<%= stylesheet_link_tag 'slides' %>

<div class="portada-container" id='catalogo-index'>
  <%= image_tag 'catalogo/CATALOGO_LOGO.jpg', class: "portada-position", style: "position: relative; top: 20px; left: 0px; transform: translate(0%, -4%);" %>
  <div class="image-text">
    Catálogo
  </div>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="columnas_4_contenedor">
  <div class="column">
    <div class="column-red-container">
      <%= image_tag 'catalogo/VARIEDAD_1.jpg', class: "red-container" %>
    </div>
    <span class="column-text">Tomate Granel</span>
    <div class="column-paragraph">
      <p>El mejor acompañante de la cocina chilena</p>
    </div>
    <a href="/catalogo/tomate_granel" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag 'catalogo/VARIEDAD_2.jpg', class: "red-container" %>
    </div>
    <span class="column-text">Tomate Racimo</span>
    <div class="column-paragraph">
      <p>Conservamos Todas Las Propiedades Del Tomate A Través De Una Presentación Más Natural.</p>
    </div>
    <a href="/catalogo/tomate_racimo" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag 'catalogo/VARIEDAD_3.jpg', class: "red-container" %>
    </div>
    <span class="column-text">Tomate Beef</span>
    <div class="column-paragraph">
      <p>¿Necesitamos Tamaño? ¿o un sabor intenso? Prueba nuestros Beefs inócuos, sabrosos y contundentes.</p>
    </div>
    <a href="/catalogo/tomate_beef" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag 'catalogo/VARIEDAD_4.jpg', class: "red-container" %>
    </div>
    <span class="column-text">Tomate Cherry</span>
    <div class="column-paragraph">
      <p>Deleita tu paladar con el especial "crunch" de nuestros cherry.</p>
    </div>
    <a href="/catalogo/tomate_cherry" class="button-style">Leer más</a>
  </div>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="columnas_4_contenedor">
  <div class="column">
    <div class="column-red-container">
      <%= image_tag 'catalogo/VARIEDAD_5.jpg', class: "red-container" %>
    </div>
    <span class="column-text">Tomate Saladette</span>
    <div class="column-paragraph">
      <p>El mejor acompañante de la cocina chilena</p>
    </div>
    <a href="/catalogo/tomate_saladete" class="button-style">Leer más</a>
  </div>
  <div class="column-empty">
  </div>
  <div class="column-empty">
  </div>
  <div class="column-empty">
  </div>
</div>