
<%= stylesheet_link_tag 'portada' %>
<%= stylesheet_link_tag 'text_with_line' %>
<%= stylesheet_link_tag 'paragraph' %>
<%= stylesheet_link_tag 'columns' %>
<%= stylesheet_link_tag 'slides' %>


<div class="portada-container">
  <%= image_tag @portada.archivo.url, alt: @portada.name, class: "portada-position", style: "position: relative; top: 20px; left: 0px; transform: translate(0%, -4%);" %>
  <div class="image-text" style='background-color: rgba(229, 8, 8, 0.7); font-size: 32px;'>
    Sabores Que No<br>
    Dañan Tu Cuerpo
  </div>
</div>

<div class="text-container">
  <div class="text-with-line">
    <span class="colored-text">Entrégale Vida<br>A Tu Mesa</span>
  </div>
</div>

<div class="container">
  <p>Comparte con nosotros el placer de una alimentación<br>sana y entretenida con distintos formatos de productos</p>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="columnas_4_contenedor">
  <div class="column">
    <div class="column-red-container">
      <%= image_tag @variedad_1.archivo.url, alt: @variedad_1.name, class: "red-container" %>
    </div>
    <span class="column-text">Tomate Granel</span>
    <div class="column-paragraph">
      <p>El mejor acompañante de la cocina chilena</p>
    </div>
    <a href="/catalogo/tomate_granel" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag @variedad_2.archivo.url, alt: @variedad_2.name, class: "red-container" %>
    </div>
    <span class="column-text">Tomate Racimo</span>
    <div class="column-paragraph">
      <p>Conservamos Todas Las Propiedades Del Tomate A Través De Una Presentación Más Natural.</p>
    </div>
    <a href="/catalogo/tomate_racimo" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag @variedad_3.archivo.url, alt: @variedad_3.name, class: "red-container" %>
    </div>
    <span class="column-text">Tomate Beef</span>
    <div class="column-paragraph">
      <p>¿Necesitamos Tamaño? ¿o un sabor intenso? Prueba nuestros Beefs inócuos, sabrosos y contundentes.</p>
    </div>
    <a href="/catalogo/tomate_beef" class="button-style">Leer más</a>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= image_tag @variedad_4.archivo.url, alt: @variedad_4.name, class: "red-container" %>
    </div>
    <span class="column-text">Tomate Cherry</span>
    <div class="column-paragraph">
      <p>Deleita tu paladar con el especial "crunch" de nuestros cherry.</p>
    </div>
    <a href="/catalogo/tomate_cherry" class="button-style">Leer más</a>
  </div>
</div>

<div class="columnas_4_contenedor">
  <div class="column-empty">
    <a href="/catalogo" class="button-style">Ver Catálogo Completo</a>
  </div>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="slides-container">
  <div class="card background-card" id="home-background-card-1"></div> 
  <div class="card left-card" id="home-left-card-1">
    <%= image_tag @slides_1.archivo.url, alt: @slides_1.name, class: "background-image" %>
  </div>
  <div class="card right-card" id="home-right-card-1">
    <div class="text-container">
      <h2 class="text-with-line" style='margin-top: 20px;'>
        <span class="colored-text">Un Secreto Que <br>Muy Pocos Saben</span>
      </h2>
    </div>
    <p style='margin: 20px;'>Nuestros tomates respetan procesos de inocuidad y de baja utilización de pesticidas. Sólo así cuidamos el área donde está la mayor cantidad de nutrientes: La piel. ¿Lo sabías?</p>
    <ul>
      <li>Altos en Vitamina C</li>
      <li>Rico en Potasio</li>
      <li>Contiene Licopeno</li>
    </ul>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#talkModal">Hablemos</button>
    <div class="modal fade" id="talkModal" tabindex="-1" aria-labelledby="talkModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="talkModalLabel">Añadir Nuevo Comentario</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'comments/new', comment: @comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <a href="beneficios_tomate" class="button-style">Más Información</a>
  </div>
   <div class="card extra-card" id="home-extra-card-1" style='top: var(--left-card-top, 5%); left: var(--left-card-left, 17%);'></div>
</div>

<div class='container' style='margin-top: 60px;'></div>

<div class="text-container">
  <div class="text-with-line">
    <span class="colored-text">Nuestras Redes</span>
  </div>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="columnas_4_contenedor">
  <div class="column">
    <div class="column-red-container">
      <%= link_to(image_tag(@red_1.archivo.url, alt: @red_1.name, class: "red-container"), 'https://www.instagram.com/p/C7_uxrKRzwZ/') %>
    </div>
    <span class="column-text">Un Tomate Verde</span>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= link_to(image_tag(@red_2.archivo.url, alt: @red_2.name, class: "red-container"), 'https://www.instagram.com/p/C8rwKVTRh2I/') %>
    </div>
    <span class="column-text">Nuestros Cherry</span>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= link_to(image_tag(@red_3.archivo.url, alt: @red_3.name, class: "red-container"), 'https://www.instagram.com/p/C5QhJSNrGTa/') %>
    </div>
    <span class="column-text">Carlo Cocina</span>
  </div>
  <div class="column">
    <div class="column-red-container">
      <%= link_to(image_tag(@red_4.archivo.url, alt: @red_4.name, class: "red-container"), 'https://www.instagram.com/p/C0rD88mO_th/') %>
    </div>
    <span class="column-text">Cocina</span>
  </div>
</div>

<div class="columnas_4_contenedor">
  <div class="column-empty">
    <a href="https://www.instagram.com/agricolateruel/" class="button-style" style='background-color: rgb(51, 142, 11)'>Visitar Instagram</a>
  </div>
</div>

<div class='container' style='margin-top: 30px;'></div>

<div class="slides-container">
  <div class="card background-card" id="home-background-card-2"></div> 
  <div class="card left-card" id="home-left-card-2">
    <%= image_tag @slides_2.archivo.url, alt: @slides_2.name, class: "background-image" %>
  </div>
  <div class="card right-card" id="home-right-card-2">
    <div class="text-container" style='text-align: left; left: 0%; width: 100%; padding: 20px;'>
      <h2 class="text-with-line">
        <span class="colored-text">¿Por qué somos el tomate más <br> sabroso que no encontrarás <br> en cualquier lugar?</span>
      </h2>
    </div>
    <ul>
      <li>Inocuidad y sustentabilidad en nuestros procesos productivos</li>
      <li>Tomates llenos de sabor, variedad y aroma que no dañan tu cuerpo</li>
      <li>Tomates limpios y firmes. Nada de residuos</li>
      <li>Producimos con un Manejo Integrado de Plagas (MIP) para cuidar tu salud.</li>
      <li>Evita riesgos de enfermedades cardíacas, hipertensión, cáncer, envejecimiento, asma, cataratas, entre otros.</li>
      <li>Tenemos certificaciones GlobalGap, FSMA, GRASP.</li>
    </ul>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>
    <a href="us" class="button-style">Más De Nootros</a>
  </div>
  <div class="card extra-card" id="home-extra-card-2"></div>
</div>

<div class='container' style='margin-top: 30px;'></div>


<script>
document.addEventListener('DOMContentLoaded', function () {
  var myModal = document.getElementById('talkModal');
  var contenedorModal = document.getElementById('contenedor-modal');

  // Mueve el modal al contenedor modal
  contenedorModal.appendChild(myModal);

  // Foco en el input cuando el modal se muestra
  var myInput = document.getElementById('commentInput');
  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus();
  });
});

document.addEventListener('DOMContentLoaded', function () {
  function adjustHeight(leftCardId, backgroundCardId) {
    const leftCard = document.getElementById(leftCardId);
    const backgroundCard = document.getElementById(backgroundCardId);
    if (leftCard && backgroundCard) {
      const height = leftCard.offsetHeight;
      backgroundCard.style.height = `${height}px`;
    }
  }

  adjustHeight('home-left-card-1', 'home-background-card-1');
  adjustHeight('home-left-card-2', 'home-background-card-2');

  window.addEventListener('resize', () => {
    adjustHeight('home-left-card-1', 'home-background-card-1');
    adjustHeight('home-left-card-2', 'home-background-card-2');
  });
});

document.addEventListener('DOMContentLoaded', function() {
  function calculateOverlapHeight(card1, card2) {
    var card1Rect = card1.getBoundingClientRect();
    var card2Rect = card2.getBoundingClientRect();

    var card1Top = card1Rect.top;
    var card1Bottom = card1Rect.bottom;
    var card2Top = card2Rect.top;
    var card2Bottom = card2Rect.bottom;

    var overlapTop = Math.max(card1Top, card2Top);
    var overlapBottom = Math.min(card1Bottom, card2Bottom);

    var overlapHeight = Math.max(0, overlapBottom - overlapTop);
    return overlapHeight;
  }

  function updateHeights() {
    var leftCard = document.getElementById('home-left-card-1');
    var leftCard2 = document.getElementById('home-extra-card-1');
    var rightCard = document.getElementById('home-right-card-1');

    var overlapHeight = calculateOverlapHeight(leftCard, rightCard);

    var rightCardHeight = rightCard.offsetHeight;
    var leftHeight = rightCardHeight - overlapHeight;

    leftCard2.style.height = `${leftHeight}px`;
  }

  // Llama a updateHeights al cargar la página
  updateHeights();

  // Llama a updateHeights cada vez que la ventana cambia de tamaño
  window.addEventListener('resize', updateHeights);
});

document.addEventListener('DOMContentLoaded', function() {
  function calculateOverlapHeight(card1, card2) {
    var card1Rect = card1.getBoundingClientRect();
    var card2Rect = card2.getBoundingClientRect();

    var card1Top = card1Rect.top;
    var card1Bottom = card1Rect.bottom;
    var card2Top = card2Rect.top;
    var card2Bottom = card2Rect.bottom;

    var overlapTop = Math.max(card1Top, card2Top);
    var overlapBottom = Math.min(card1Bottom, card2Bottom);

    var overlapHeight = Math.max(0, overlapBottom - overlapTop);
    return overlapHeight;
  }

  function updateHeights() {
    var leftCard = document.getElementById('home-left-card-2');
    var leftCard2 = document.getElementById('home-extra-card-2');
    var rightCard = document.getElementById('home-right-card-2');

    if (leftCard && leftCard2 && rightCard) {
      var overlapHeight = calculateOverlapHeight(leftCard, rightCard);
      var rightCardHeight = rightCard.offsetHeight;
      var leftHeight = rightCardHeight - overlapHeight;

      // Asegura que leftHeight no sea negativo
      leftHeight = Math.max(0, leftHeight);

      leftCard2.style.height = `${leftHeight}px`;
    }
  }

  // Llama a updateHeights al cargar la página
  updateHeights();

  // Llama a updateHeights cada vez que la ventana cambia de tamaño
  window.addEventListener('resize', updateHeights);
});



</script>












