
<%= stylesheet_link_tag 'text_with_line' %>
<%= stylesheet_link_tag 'product' %>
<%= stylesheet_link_tag 'columns' %>

<div class="text-container">
  <div class="text-with-line">
    <span class="colored-text font-georgia-normal">Innovación y desarrollo</span>
  </div>
  <p class="parrafo-texto-linea font-avenir-normal"></p>
</div>

<div class="product-container">
    <div class="product-image" id='image-innovacion-1'>
        <%= image_tag 'INNOVACION_1.jpg', class: "red-container" %>
    </div>
    <div class="product-info">
        <div class="text-container" style='left: 0%;'>
        
        </div>
        <p>Pioneros en cuidar tu salud primero. En tu mesa tendrás un tomate limpio y nutritivo, porque tratamos todo el proceso productivo con máximo cariño.</p>
        <p>Somos los primeros en la utilización de fibra de coco en producción de tomate en Chile: Tenemos X años desarrollando un sistema de producción hidropónico en medio sólido, utilizando fibra de coco como sustrato.</p>
        <p>Esto nos permite poner sobre tu mesa un tomate insuperable, al haber entregado a su planta todos los nutrientes necesarios. Además, este tipo de producción nos otorga mayor eficiencia productiva como uso racional de agua, mayor productividad anual, y menor uso de químicos para desinfección de patógenos del suelo, siendo así amigables con tu salud y nuestro medioambiente como objetivo principal.</p>
    </div>
</div>

<div class="columnas_4_contenedor">
  <div class="column">
    <i class="bi bi-check2-circle" style="font-size: 32px; margin-bottom: -20px;"></i>
    <span class="column-text">Limpio y lleno <br> de sabor</span>
    <div class="column-paragraph">
      <p>El mejor acompañante de la cocina chilena</p>
    </div>
 
  </div>
  <div class="column">
    <i class="bi bi-clipboard2-heart" style="font-size: 32px; margin-bottom: -20px;"></i>
    <span class="column-text">Más Saludable</span>
    <div class="column-paragraph">
      <p>Conservamos Todas Las Propiedades Del Tomate A Través De Una Presentación Más Natural.</p>
    </div>
 
  </div>
  <div class="column">
   <i class="bi bi-globe-americas" style="font-size: 32px; margin-bottom: -20px;"></i>
    <span class="column-text">Conscientes del <br> Medio Ambiente</span>
    <div class="column-paragraph">
      <p>¿Necesitamos Tamaño? ¿o un sabor intenso? Prueba nuestros Beefs inócuos, sabrosos y contundentes.</p>
    </div>
  
  </div>
  <div class="column">
    <i class="bi bi-lightbulb-fill" style="font-size: 32px; margin-bottom: -20px;"></i>
    <span class="column-text">Innovación y <br> Certificaciones</span>
    <div class="column-paragraph">
      <p>Deleita tu paladar con el especial "crunch" de nuestros cherry.</p>
    </div>
 
  </div>
</div>

<div class="product-container">
    <div class="product-info">
        <div class="text-container" style='left: 5%;'>
            <div class="text-with-line">
                <span class="colored-text">Sostenibilidad</span>
            </div>
        </div>
        <ul>
            <i class="bi bi-check-lg" style='color: green;'></i> Manejo Integrado de Plagas. <br>
            <i class="bi bi-check-lg" style='color: green;'></i> Reducción en el uso de pesticidas. <br>
            <i class="bi bi-check-lg" style='color: green;'></i> Incentivamos el Control Biológico para el equilibrio del medioambiente. <br>
            <i class="bi bi-check-lg" style='color: green;'></i> Tecnología de Vanguardia para promover un sentido ecológico <br>
        </ul>
    </div>
    <div class="product-image" id='image-innovacion-2'>
        <%= image_tag 'INNOVACION_2.jpg', class: "red-container" %>
    </div>
</div>